input{
    text-align:center;
    width: 100%;
}
input:focus{
    outline: 1px solid rgb(223,223,223);
}
body{
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/3-soap-bubbles-on-a-black-background-artush-foto.jpg");
}